  *{
    box-sizing: border-box;
  }
  /* Estilos para la barra de navegación */
  body {
    /*height: 720px;
    width: 1280px;*/
      
    justify-content: center;
    align-items: center;
  }

  .navbar {
    background-color: rgb(234, 189, 197);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  /* Estilos para los elementos de la barra de navegación */
  .navbar h1 {
    color: white;
    margin: 0;
  }

  .navbar img {
    height: 30px;
  }

  .navbar-left,
  .navbar-right {
    display: flex;
    align-items: center;
  }

  /* Estilos para las secciones */
  .section {
    padding: 20px;
  }


  .principal11 {
    background-color: rgb(157, 159, 159);
    display: flex;
    flex-direction: row;
    height: 720px;
  }
  

  #principal12 {
    position: relative;
  }
  
  .parrafo {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  #principal13 {
    background-color: rgb(241, 247, 247);
    width: 100%;
    height: 720px;

  }

  /* Estilos para los enlaces en la primera sección */
  .section .column a {
    display: block;
    margin-bottom: 10px;


  }
a{
  text-decoration: none; /* Quita la decoración de subrayado */
  color: #342454; 
}
  /* Estilos para los campos de entrada en la segunda sección */
  .section .input-container input {
    margin-bottom: 10px;
  }

  table {
    margin-top: 60px;
    border-collapse: collapse;
    width: 60%;
    background-color: #ede4f5;
  }
  
  table td {
    padding: 8px;
  }
  

  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #d4cbe6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-left: auto;
    margin-right: 0;
  }

  
  tr:nth-child(even) {
    background-color: #ede4f5;
  }
  

  td:first-child {
    width: 10px;
    text-align: right;
  }

  
td:nth-child(3) {
  text-align: right;
}
  /* Estilos para los campos de entrada en la segunda sección */
  .section .input-container .li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* Estilos para los campos de entrada en la segunda sección */
  .section .input-container .li {
    display: flex;
    align-items: center;
  }

  .section .input-container .input-wrapper {
    margin-right: 10px;
  }

  .section .input-container label {
    display: block;
    font-weight: bold;
  }

  .section .input-container input {
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
  }

  .section .input-container button {
    padding: 10px 20px;
  }

  button {
    margin-left: 80px;  
    border-radius: 40%;
    background-color: rgb(247, 240, 240);
    color: #4c0ad1;
    border: 1px solid black; /* Ajusta el ancho del borde aquí */
    cursor: pointer;
  }
  